<div class="container">
  <h1>Edit Task</h1>

  <div class="border-gray">
    <%= render "form", task: @task %>
  </div>

  <%= link_to tasks_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
