<div class="container">
  <h1>My Tasks</h1>
  <ul class="border-gray">
    <% @tasks.each do |task| %>
      <%= link_to task_path(task) do %>
        <li><%= task.completed %> <%= task.title %> </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to new_task_path do %>
    <i class="fa fa-plus"></i> Add a new task
  <% end %>
</div>