// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
  margin: 0;
}

h1 {
  margin: 1em 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  font-size: 18px;
}

.background-gray {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.border-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 20px 20px 0;
  margin-bottom: 10px;
}